/* Colors */
$color-green-dark       = #0d3300
$color-green-darkish    = #2a4c20
$color-green-medium     = #688060
$color-green-light      = #f2fbef
$color-green-lighter    = #f9fdf6

$color-red-medium       = #cc3300
$color-red-light        = #f9e5df

$color-blue             = #0099cc

$color-almost-white     = #fafafa
$color-grey-light       = #f2f2f2
$color-grey             = #e4e4e4
$color-grey-dark        = #898989
$color-grey-darker      = #797979
$color-almost-black     = #333333

/* Fonts */
$font-family            = Arimo, Arial, sans-serif
$font-family--black     = "Arial Black", Arial, sans-serif
$font-size--xxxsmall    = 11px
$font-size--xxsmall     = 12px
$font-size--xsmall      = 13px
$font-size--small       = 14px
$font-size--base        = 16px
$font-size--medium      = 20px

/* Other */
$navbar-height          = 50px
$component-border-width = 3px
$selection-border-width = 4px
