/* Colors */
$color-green-dark       = #0d3300
$color-green-medium     = #688060
$color-green-light      = #f2fcef

$color-red-medium       = #cc3300
$color-red-light        = #f9e5df

$color-blue             = #0099cc

$color-almost-white     = #fafafa
$color-grey-light       = #f2f2f2
$color-grey             = #e4e4e4
$color-grey-dark        = #898989
$color-grey-darker      = #797979

/* Fonts */
$font-family            = Arial, sans-serif
$font-size--smaller     = 13px
$font-size--small       = 14px
$font-size--base        = 16px
$font-size--medium      = 20px

/* Other */
$component-border-width = 3px
